section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  padding: 2rem;
  border-radius: 6px;
  border: 1px solid white;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid white;
  color: white;
  padding: 0.1rem 2rem;
  border-radius: 6px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #21325e;
  border-color: #460897;
}

.font-face-gm {
  font-family: "NanumLight";
}
